<h1>All Plots</h1>

<% @plots.each do |plot| %>
  <h3><%= plot.number %></h3>
  <% plot.plants.each do |plant| %>
    <%= plant.name %>
    <% plant.plot_plants.each do |pp| %>
    <section id="pp-<%= pp.id %>">
      <%= link_to "Remove #{plant.name}", "/plots/#{plot.id}/plants/#{plant.id}", method: :delete %>
      <br>
      <br>
      <% end %>
  <% end %>
<% end %>