<h1><%= @garden.name %></h1>
<h2>Plants:</h2>
<p><% if @garden.less_than_100_days %>
    <% @garden.plots.each do |plot| %>
      <% plot.plants.each do |plant| %>
        <%= plant.name %>
        <br></p>
      <% end %>
    <% end %>
  <% end %>